.c-header{
    grid-area: main;
    background-image: url("../../images/mobile-image-hero-1.jpg");
    min-height: 550px;
    background-size: cover;
    background-position: center;

    &__nav{
        display: flex;
    }

    &__logo{
        margin: auto;
    }

    &__links{
        display: none;
    }    

    @media screen and (min-width:768px) {
        &__hamburguer{
            display: none;
        }

        &__links{
            padding: 0;
            display: grid;
            grid-auto-flow: column;
            gap: 1em;
            margin-left: 10%;
        } 

        &__logo{
            margin: 0;
        }

        &__list{
            list-style: none;

        }

        &__link{
            text-decoration: none;
            color: $white;
        }
    }
}